/* theme-solarized-dark.css */
#background {
	-fx-background-color: #016e89 !important;
	-fx-text-fill: #eee8d5 !important;
}
#background Label,
#background TextField,
#background Button,
#background TextArea,
#background .text {
	-fx-text-fill: #eee8d5;
}

#viewerBackground {
	-fx-background-color: #073642 !important;
	-fx-text-fill: #eee8d5 !important;
}

#directoryImg {
	-fx-background-image: url("../imagenes/carpeta_light.png") !important;
}

#panelBackground {
	-fx-background-color: #001f27 !important;
}

.button {
	-fx-background-color: #586e75;
	-fx-text-fill: #fdf6e3;
}
